body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 90vh;
    animation: ease-in-out;
    gap: 25px;
}

h1{
    margin-bottom: 30px;
}

div {
width: 150px;
height: 150px;
background-color: black;
}

.fly {
    animation: fly 3s infinite;
}

@keyframes fly {
    100%{
        transform: translatey(-30px);
    }
    50%{
        transform: translatey(0);
    }
   0%{
       transform: translatey(-30px);
   }
}