body{
    animation: sunset 2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 90vh;
    gap: 15px;
}

img{
    transform: scale(0.30) translateY(-10000px);
    z-index: 1;
    position: absolute;
    animation: moon-drop 2s linear forwards;
    /* animation-delay: 0.33s; */
}

a{
    z-index: 50;
}

@keyframes sunset {
    25%{
       background-color: rgba(10, 10, 50, 0.5);
    }
    50%{
       background-color: rgb(5, 5, 20);
    }
    75%{
       background-color: rgba(10, 10, 50, 0.5);
    }
    100%{
       background-color: white;
    }
}

@keyframes moon-drop{
    0%{
       transform: translateY(-500px) scale(0.30);
    }
    10%{
        transform: translateY(-140px) scale(0.30);
    }
    22%{
        transform: translateY(-180px) scale(0.30);
    }
    35%{
        transform: translateY(-155px) scale(0.30);
    }
    55%{
        transform: translateY(-170px) scale(0.30);
    }
    90%{
        transform: translateY(-160px) scale(0.30);
    }
    100%{
        transform: translateY(-500px) scale(0.30);
    }

}

